<%= link_to "Back to Products", products_url %> 
|

<div class="product">
  
  <h1>
    <%= @product.name %>
  </h1> 

  <table>
  <tr>
    <td>Price:</td>
    <td><%= @product.formatted_price %></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%= @product.description %></td>
  </tr>
  </table>

   <h3>Reviews</h3>

  <p>Reviews for <%= @product.name %></p>


  <% if current_user %>
  <h4>New Review</h4>

  <%= form_for [@product, @review], :remote => true do |f| %>
    <div id="review-form-errors">
      <%=render :partial => "/products/review_form_errors" %>
    </div>

    <div class="field">
      <%= f.label :comment %><br/>
      <%= f.text_area :comment %>
    </div>
    
    <div class="actions" >
      <%= f.submit %>
    </div>
  <% end %>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a review.</p> 
<% end %>

<div id="review-list">

    <%= render :partial => "reviews" %>
</div>

  <div class="buttons"  >
    <%= button_to "Edit", edit_product_path(@product), method: :get %>
    <%= button_to "Delete", @product, method: :delete, data: {confirm: "Are you sure you want to delete this product?"}  %>
  </div>

</div>

<script type="text/javascript">
  $(function() {
     $("#new_review")
        .on('ajax:beforeSend', function() {
          console.log ("before sending ajax request");
          $('.actions') // make changes to the submit button
            .val('Saving...') // change the text on the button
            .attr('disabled', 'disabled'); // disable the button
        })
        .on('ajax:complete', function() {
          console.log("ajax request complete!");
          $('.actions')
            .val('Create Review')
            .removeAttr('disabled');
        });
  });
</script>
